body {
    background-color: rgb(227, 217, 217);
}

p{
    color: rgb(171, 125, 125)
}

.center {
    color: rgba(181, 69, 151, 0.685);
}
.exemplo-back {
    height: 300px;
    background-size:cover;
    background-color: gray;
    background-image:url("../img/background.jpg");
    margin-bottom: 20px;
    
}
 #color-red {
    color: red;
 }

 h1 {
    border: 1px double black;
    border-radius: 5px;
    background-color: green;
    padding: 10px;
 }

 .botao {
    margin-left: 30px;
    background-color: pink;
    color: rgb(175, 92, 175);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
 }

 .container {
    display: inline-block;
    background-color: blue;
    width: 100%;
    height: 400px;
    position: relative;
 }

 .div1 {
    
    left: 60px;
    background: yellow;
    display: inline-block;
    width: 30%;
    height: 100px;
 }
 .div2 {
    background: pink;
    display: inline-block;
    width: 30%;
    height: 100px;
    position: sticky;
    top: 0;
 }
 .div3 {
    background: red;
    display: inline-block;
    width: 30%;
    height: 100px;
    position: absolute;
    top: 150px;
    right: 260px;
 }

 .whats {
    background: green;
    color: white;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 10px;
    right: 10px;
 }

 ul {
   background: black;
   list-style-type: none;
   padding: 0;
   margin: 0;
   overflow: hidden;
 }

 li {
   float: left;
 }

 li a, .dropbtn {
   display: inline-block;
   color: white;
   padding: 14px 16px;
   text-decoration: none;
   text-align: center;
 }

 li a:hover, .dropdown:hover .dropbtn {
   background: red;
 }

 li.dropdown{
   display: inline-block;
 }
 .dropdown-content{
   display: none;
   position: absolute;
   background: white;
   width: 150px;
 }
 .dropdown-content a {
   color: black;
   display: block;
   text-align: left;
   border: 1px solid rgb(207, 200, 200)
 }
 .dropdown-content a:hover{
   color: white;
 }

 .dropdown:hover .dropdown-content{
   display: block;
 }
 .flex-pai {
  background:blue;
  display: flex;
  flex-direction: row;
 }

@media screen and (max-width: 600px) {
  .flex-pai{
    flex-direction: column;
  }
}


 .flex-pai div {
  background: white;
  border: 1px solid black;
  margin: 5px;
  padding: 30px;
  text-align: center;
 }
